body {
    margin: 0;
    font-family: 'EB Garamond', serif;
    letter-spacing: 1px;
    background: url('img/background_wood3.gif');
    background-size: cover;
    color: #000000;
}

.box-opac {
    text-align: center;
    padding: 10px;
    background: url('img/background_wood3.gif');
    background-size: cover;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.box-items{
    border: 3px solid black;
    max-height: 200px;
}

.logo {
    margin-top: 10px;
    width: 100px;
    height: auto;
}

.title {
    margin: 0;
    font-size: 2.5em;
    color: #000;
    text-shadow: 4px 4px 6px #444444;
}

main {
    padding: 20px;
}

section {
    margin: 10px 10px 40px 10px;
    border: 3px solid black;
    text-align: center;
}

.menu-img {
    max-width: 90%;
    height: auto;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.7);
}

/* Fade-in animation */
.fade-in {
    opacity: 0;
    animation: fadeIn 2s ease-in forwards;
}


@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

/* Responsive */
@media (max-width: 768px) {
    .title {
        font-size: 2em;
    }

    .menu-img {
        max-width: 100%;
    }
}
